.information-list-container {
    border-top: 1px solid #ececec;
}

.field-wrapper {
    margin-top: 15px;
}
.label {
    margin: 0;
    font-weight: 300;
}

.value {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

