.header-container {
    color: white;
    background-color: #5e35b1;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20%;
    align-items: center;
}

.header-container > .header-logo > img {
    height: 30px;
}

@media (min-width: 768px) {
    .header-container{
        padding: 0 25%;
    }
}
