.register-page-container {
    display: flex;
    flex-direction: column;
    margin: 60px 20%;
}

app-title {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .register-page-container{
        margin: 60px 25%;
    }
}