@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto";
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
    font-weight: 300;
}